* {
    margin: 0;
    box-sizing: border-box;
}

#container {
    border: 50px solid maroon;
    border-radius: 20px;
    width: 500px;
    height: 500px;
    margin: 0 auto;
    display: grid;
    justify-items: stretch;
    align-items: stretch;
    overflow: hidden;
    
}

.box {
    border: 1px solid black;  
}


